*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
}
.background__stars{
    background-color: black;
    width: 100%;
    height: 100%;
}